@import "tailwindcss";
@plugin "daisyui";




@media (prefers-color-scheme: light) {
  :root {
   
  }
}

body {
  
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



.banner {
  background-image: url("/image/banner.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 800px;
}

.bgcpr {
  background-color: #eb6753;
}

.cpr{
  color: #eb6753;
}

.underline-effect {
  position: relative;
  display: inline-block;
  background: linear-gradient(to right, #eb6753, #ff8b73);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.underline-effect::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background: linear-gradient(to right, #eb6753, #ff8b73);
  box-shadow: 0 0 10px #eb6753, 0 0 20px #ff8b73;
  transition: width 0.4s ease-in-out;
  border-radius: 2px;
}

.underline-effect:hover::after {
  width: 100%;
}