@import "tailwindcss";
@plugin "daisyui";




@media (prefers-color-scheme: light) {
  :root {
   
  }
}

body {
  
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



.banner {
  background-image: url("/image/banner.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 800px;
}

.bgcpr {
  background-color: #eb6753;
}

.cpr{
  color: #eb6753;
}
